
.banner_bg-image {
  background-image: linear-gradient(
    to bottom, transparent, 90%, #4783a3
  ), url("../img/zelda72.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.banner_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}