
.banner_bg-image {
  background-image: linear-gradient(
    to bottom, transparent, 75%, #121212
  ), url("../img/zelda72.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}