
.banner_bg-image {
  background-image: linear-gradient(
    1turn, #121212, 45%, transparent, 96%, #12121255
  ), url("../img/zelda72.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}