.carousel-card {
  width: 450px;
  margin-right: 25px;
  border-radius: 10px;
  border: solid #66b16c;
  background-color:#449362;
}


.carousel-card img {
  
  object-fit: cover;
  max-height: 300px;
}

.img-container {
  overflow: hidden;
  border-radius: 10px;
  width: 400px;
  height:250px;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.carousel-card h3 {
  align-items: center;
  text-align: center;
}

.carousel-card p {
  text-align: center;
}