.skills-section {
    font-size: 1.25rem;
}

.skill-card {
    background-color: #DE9ECE;
    padding: 1rem;
    height: 100%;
    width: 100%;
    border-color: transparent;
    border: 1px solid rgba(0,0,0, 0.5);
}

.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    margin-top: 0px;
}

.card-text {
    font-size: 1.15rem;
}

.card-section {
    margin-bottom: 0.5rem;
}
