nav.navbar.scrolled {
    background-color: #5ebdd0;
    -webkit-box-shadow: 0 8px 6px -6px #507880;
    -moz-box-shadow: 0 8px 6px -6px #507880;
    box-shadow: 0 8px 6px -6px #507880;
  }

nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
  }

@media (min-width: 0px) {
    nav.navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
        transition:  0.32s ease-in-out;
        background-color: #5ebdd0;
        -webkit-box-shadow: 0 8px 6px -6px #507880;
        -moz-box-shadow: 0 8px 6px -6px #507880;
        box-shadow: 0 8px 6px -6px #507880;
      }
}

@media (min-width: 768px) {
    nav.navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
        transition:  0.32s ease-in-out;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        
      }
}

.nav-link {
    font-weight: 500;
    color: #000 !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 24px;
    opacity: 0.75;
    margin-left: 25px;
}


.kino-logo {
    padding-left: 1rem;
    transform: scale(1.2);
    transition: 0.3s ease;
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
    transform: scale(1.1);
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(64,146,94, 0.9);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(102,177,108, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 60%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

span.navbar-text {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.navbar-toggler {
    margin-right: 1.5rem;
}