.footer-section {
    background: rgba(65,114,167,1);
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: inline-block;
}
.social-icons a {
    width: 42px;
    height: 42px;
    background: rgba(64,146,94, 0.9);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 0.5rem;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(102,177,108, 0.5);
    transform: scale(1.1);
}

.social-icons a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icons a:hover::before {
    transform: scale(1);
}
.social-icons a img {
	width: 65%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icons a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.footer-section h5, .footer-section a, .footer-section p {
    color: #fff;
}

.contact-info a {
    text-decoration: none;
}
