.background-image {
    margin-top: 0;
    background-image: url('../../zelda.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .background-image-container {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  .banner {
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
    overflow-x: hidden; 

  }
  .tagline {
    position: relative;
    z-index: 2;
    color: white;
    background: rgba(198,134,182, 0.5);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

.banner h1 {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 2;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    /* line-height: normal;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
     */


}


.banner-contents {
    position:absolute;
    margin-left: 10px;
}

@media (min-width: 0px) {
    .banner-contents {
        top: 35%;
    }
}

@media (min-width: 768px) {  
    .banner-contents {
        top: 40%;
        width: 80%;
    }
    
    .banner h1 {
        font-size: 4rem;
    }

}

@media (min-width: 1200px) {  
    .banner-contents {
        top: 35%;
        width: 45%;
        margin-left: 75px;
    }

    .banner h1 {
        font-size: 4.5rem;
    }

}


   

.text-rotate > .wrap {
    border-right: 0.08em solid #ddd;
  }

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;

    z-index: 2;
}
